<div class="text-xs py-3 mx-10 my-2 w-full">
  <div class="">
    @if(!watchList()?.length) {
    <div class="text-white text-left text-xl">
      You haven't rated any Movies or TV Shows yet. Click
      <a [routerLink]="['/']" class="underline">here</a> to check out.
    </div>
    } @else {
    <div class="flex flex-col gap-5 text-gray-200">
      <p class="text-sm">
        Your Watchlist is the place to track the titles you want to watch.
      </p>
      @for(item of watchList(); track item.id) {
      <app-watchlist-media-list [item]="item"></app-watchlist-media-list>
      }
    </div>
    }
  </div>
</div>
