@import "tailwindcss";

/* Define font variables */
@theme {
  --font-serif-custom: "Merriweather", serif;
}

/* Apply globally (pick one) */
body {
  font-family: var(--font-serif-custom);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
