@import "tailwindcss";

/* Define font variables */
@theme {
  --font-serif-custom: "Merriweather", serif;
}

/* Apply globally (pick one) */
body {
  font-family: var(--font-serif-custom);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.clean-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}

/* Chrome / Edge / Safari */
.clean-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.clean-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* removes box */
}

.clean-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 9999px;
}

.clean-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);
}
