<div class="bg-linear-to-bl from-[#12041f] via-[#1b0836] to-[#29144d] pt-6">
  @if(dataLoadingLoader()) {
  <app-media-detail-skeleton></app-media-detail-skeleton>
  } @else {
  <div class="relative">
    <div class="h-[30rem] overflow-hidden px-10 pb-10 pt-0 relative">
      <img
        [src]="mediaData()?.backdrop_path"
        class="h-full w-full rounded-xl object-cover brightness-75"
      />

      <!-- Gradient overlay -->
      <div
        class="absolute inset-x-10 top-5 bottom-10 rounded-xl bg-gradient-to-t from-[#1b0836] via-[#1b0836]/50 to-transparent"
      ></div>
    </div>

    <div class="absolute top-15 left-30 flex justify-between mx-10 z-50">
      <div class="flex gap-6">
        <div
          class="relative flex flex-col items-center gap-4 max-w-[13rem] flex-shrink-0"
        >
          <img
            [src]="mediaData()?.poster_path"
            class="w-full object-cover rounded-2xl shadow-2xl shadow-black/50 ring-1 ring-violet-700/40"
          />

          <div class="flex items-center gap-1 w-full relative">
            <div class="flex flex-col w-full overflow-hidden h-8 gap-4 px-4">
              <button
                class="text-xs flex items-start justify-center w-full bg-gradient-to-r from-violet-600 to-fuchsia-600 hover:from-violet-500 hover:to-fuchsia-500 text-white py-2 px-2 transition cursor-pointer rounded-md"
                (click)="toggleWatchList()"
              >
                @if(addingToLibraryLoader()) {
                <i class="fa-solid fa-spinner fa-spin mx-2"></i>
                } @else { @if(!libraryStatus().watchlist) {
                <i class="fa-solid fa-plus mx-2"></i>
                Add to Watchlist} @else {
                <i class="fa-solid fa-check mx-2"></i>
                Added to Watchlist} }
              </button>
            </div>
          </div>
        </div>

        <div class="text-white mx-10 max-w-3xl">
          <h1 class="text-5xl font-bold">{{displayTitle}}</h1>

          <div class="flex items-center gap-2">
            <h2 class="text-xl">({{releaseDate | date:'yyyy'}})</h2>

            <div class="text-xl">•</div>
            @if(isMovie) {

            <div class="text-md">{{runtime ?? 0 | minutesToHours}}</div>
            } @else { {{seasonCount}} Season{{seasonCount > 1 ? 's' : ''}} }
          </div>

          <div class="my-4 flex flex-wrap gap-3">
            @for(g of genreList(); track $index) {
            <span
              class="rounded-full border border-violet-500/40 bg-violet-700/20 px-4 py-1 text-xs backdrop-blur-sm transition hover:bg-violet-700/40"
              >{{g}}</span
            >
            }
          </div>

          <div
            class="mt-5 flex items-center gap-4 rounded-full bg-black/25 px-4 py-2 backdrop-blur-md w-fit"
          >
            <div class="relative h-16 w-16">
              <svg class="h-full w-full rotate-[90deg]">
                <circle
                  cx="50%"
                  cy="50%"
                  r="25"
                  stroke-width="6"
                  class="text-gray-700"
                  stroke="currentColor"
                  fill="#2a0f4d"
                />

                <circle
                  cx="50%"
                  cy="50%"
                  r="25"
                  stroke-width="5"
                  class="text-green-500"
                  stroke="currentColor"
                  fill="transparent"
                  stroke-linecap="round"
                  [attr.stroke-dasharray]="circumference()"
                  [attr.stroke-dashoffset]="dashOffset()"
                />
              </svg>

              <div
                class="text-xs absolute inset-0 flex items-center justify-center text-white"
              >
                {{percentage ? percentage + '%' : "NR"}}
              </div>
            </div>
            <div class="text-xs w-10">User score</div>
            <button
              class="h-10 w-10 rounded-full flex items-center justify-center transition-all duration-200 mx-2 cursor-pointer"
              [class.bg-gradient-to-r]="libraryStatus().favorite"
              [class.from-pink-500]="libraryStatus().favorite"
              [class.to-fuchsia-500]="libraryStatus().favorite"
              [class.text-white]="libraryStatus().favorite"
              [class.bg-white/10]="!libraryStatus().favorite"
              [class.text-white/70]="!libraryStatus().favorite"
              [class.hover:bg-white/20]="!libraryStatus().favorite"
              (click)="toggleFavorite()"
            >
              @if (libraryStatus().favorite) {
              <i class="fa-solid fa-heart"></i>
              } @else {
              <i class="fa-regular fa-heart"></i>
              }
            </button>

            <button
              class="h-10 w-10 rounded-full flex items-center justify-center transition-all duration-200 cursor-pointer"
              [class.bg-gradient-to-r]="libraryStatus().watched"
              [class.from-violet-600]="libraryStatus().watched"
              [class.to-fuchsia-600]="libraryStatus().watched"
              [class.text-white]="libraryStatus().watched"
              [class.bg-white/10]="!libraryStatus().watched"
              [class.text-white/70]="!libraryStatus().watched"
              [class.hover:bg-white/20]="!libraryStatus().watched"
              (click)="toggleWatched()"
            >
              <i class="fa-solid fa-eye"></i>
            </button>
          </div>

          <div class="italic my-6">{{mediaData()?.tagline}}</div>

          <h4 class="text-base">Overview</h4>
          <p class="mt-3 max-w-3xl leading-5 text-xs text-gray-300">
            {{ mediaData()?.overview }}
          </p>
        </div>
      </div>
    </div>
  </div>
  } @if(!dataLoadingLoader()) {

  <div class="flex gap-10 mx-10">
    <div class="flex-1 min-w-0">
      <div
        class="rounded-2xl border border-white/10 bg-white/5 py-4 pl-30 pr-10 backdrop-blur-xl"
      >
        <div>
          <span class="text-xl text-white">Cast</span>

          <div class="w-full h-70 my-5 overflow-x-auto clean-scrollbar">
            <div class="flex py-3 gap-4 w-max">
              @for (c of castList(); track c.id) {
              <app-cast-card
                class="w-32 flex-shrink-0"
                [castName]="c.name"
                [castRole]="c.character"
                [castProfilePath]="c.profile_path"
              />
              }

              <div class="flex items-center flex-shrink-0 px-1 mr-1">
                <a class="cursor-pointer hover:text-blue-300 hover:underline">
                  <span class="text-xs">View more</span>
                  <i class="fa-solid fa-arrow-right text-sm ml-1"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div
          class="h-px bg-gradient-to-r from-transparent via-fuchsia-500 to-transparent opacity-70 shadow-[0_0_12px_rgba(217,70,239,0.8)]"
        ></div>

        <div class="my-7">
          <p class="text-sm text-white">
            If you liked
            <span class="text-gray-400 italic">{{displayTitle}}</span>, you
            might also like...
          </p>
          <app-recommendations-component
            [recommendationsList]="recommendations()"
          />
        </div>

        <div
          class="h-px bg-gradient-to-r from-transparent via-fuchsia-500 to-transparent opacity-70 shadow-[0_0_12px_rgba(217,70,239,0.8)]"
        ></div>

        <div class="my-7">
          <p class="text-sm text-white">Trailer</p>
          <app-view-trailer-component [mediaType]="type()" [id]="id()" />
        </div>
      </div>
    </div>

    <div
      class="w-64 rounded-2xl border border-white/10 bg-white/5 backdrop-blur-xl text-white"
    >
      <div class="space-y-4 p-5">
        <div
          class="flex items-center justify-between border-l-2 border-fuchsia-500 pl-3 py-1"
        >
          <span class="text-xs uppercase tracking-[0.2em] text-white/50">
            Status
          </span>

          <span
            class="font-mono text-sm text-fuchsia-300 drop-shadow-[0_0_8px_rgba(217,70,239,0.6)]"
          >
            {{ mediaData()?.status }}
          </span>
        </div>

        <div
          class="flex items-center justify-between border-l-2 border-cyan-400 pl-3 py-1"
        >
          <span class="text-xs uppercase tracking-[0.2em] text-white/50">
            Language
          </span>

          <span
            class="font-mono text-sm text-cyan-300 drop-shadow-[0_0_8px_rgba(34,211,238,0.6)]"
          >
            {{ originalLang() }}
          </span>
        </div>

        @if (isMovie) {

        <div
          class="flex items-center justify-between border-l-2 border-violet-500 pl-3 py-1"
        >
          <span class="text-xs uppercase tracking-[0.2em] text-white/50">
            Budget
          </span>

          <span
            class="font-mono text-sm text-violet-300 drop-shadow-[0_0_8px_rgba(168,85,247,0.6)]"
          >
            {{ budget ? (budget | currency:'USD') : '-' }}
          </span>
        </div>

        <div
          class="flex items-center justify-between border-l-2 border-pink-500 pl-3 py-1"
        >
          <span class="text-xs uppercase tracking-[0.2em] text-white/50">
            Revenue
          </span>

          <span
            class="font-mono text-sm text-pink-300 drop-shadow-[0_0_8px_rgba(236,72,153,0.6)]"
          >
            {{ revenue ? (revenue | currency:'USD') : '-' }}
          </span>
        </div>

        } @else {

        <div
          class="flex items-center justify-between border-l-2 border-violet-500 pl-3 py-1"
        >
          <span class="text-xs uppercase tracking-[0.3em] text-white/50">
            Type
          </span>

          <span
            class="font-mono text-sm text-violet-300 drop-shadow-[0_0_8px_rgba(168,85,247,0.6)]"
          >
            {{ typeOfShow }}
          </span>
        </div>

        }
        <div>
          <div
            class="flex items-center border-l-2 border-fuchsia-500 pl-3 py-1 mb-3"
          >
            <span class="text-xs uppercase tracking-[0.3em] text-white/50">
              Production Companies
            </span>
          </div>

          <div class="space-y-3 mt-2">
            @for (company of productionCompanies; track company.id) {
            <div class="flex items-center gap-3">
              @if (company.logo_path) {
              <img
                [src]="'https://image.tmdb.org/t/p/w200' + company.logo_path"
                [alt]="company.name"
                class="h-8 w-8 rounded bg-white p-1 object-contain shrink-0"
              />
              } @else {
              <div
                class="h-8 w-8 rounded bg-white/10 flex items-center justify-center text-[0.55rem] text-gray-400 shrink-0"
              >
                N/A
              </div>
              }

              <div class="min-w-0">
                <div class="text-xs truncate">{{ company.name }}</div>
                @if (company.origin_country) {
                <div class="text-[0.6rem] text-gray-400">
                  {{ company.origin_country }}
                </div>
                }
              </div>
            </div>
            }
          </div>
        </div>

        <div class="my-7">
          <div class="text-[0.65rem] my-3">Keywords</div>
          <div class="flex flex-wrap gap-0.5">
            @for(k of keywordsList(); track k.id) {
            <span
              class="rounded-full border border-fuchsia-500/30 bg-fuchsia-500/10 px-3 py-1 text-[0.60rem] text-fuchsia-100 transition hover:bg-fuchsia-500/20"
              >{{k.name}}</span
            >
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
