<nav class="bg-[#15042b] text-white h-16 fixed top-0 left-0 right-0 z-70">
  @if(isFullScreenSearchVisible()) {
  <div
    class="sm:hidden relative flex flex-1 max-w-sm items-center gap-4 my-4 mx-auto"
  >
    <input
      [formControl]="searchText"
      type="search"
      placeholder="Search for a show or movie"
      class="text-[0.75rem] w-full bg-slate-700 text-gray-300 rounded-full h-8 placeholder:text-xs placeholder:text-gray-300 placeholder:pl-4"
    />
    <button (click)="toggleSearchBox()">
      <i class="fa-solid fa-x absolute right-4 -translate-1/2 text-black"></i>
    </button>
  </div>
  } @else {
  <div
    class="max-w-7xl mx-auto h-full px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 flex items-center justify-between"
  >
    <a class="text-2xl font-bold" href="#">Media Track</a>

    <div class="hidden md:block h-full">
      <ul #menuContainer class="flex items-center gap-6 h-full">
        <li class="h-full">
          <a
            href="#"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900"
            >Home</a
          >
        </li>
        <li class="h-full inline-block relative">
          <button
            (click)="openMenuDropdown('movies')"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900 cursor-pointer"
          >
            Movies
          </button>
          @if(isMovieClicked()) {
          <div
            class="absolute top-full left-0 mt-1 min-w-24 text-black rounded shadow-lg z-50 -translate-y-4 bg-violet-400 text-xs overflow-hidden"
          >
            @for(movie of selectedMenuDropdown(); track movie.menu) {
            <a
              [href]="movie.link"
              class="block px-3 py-1 hover:bg-violet-500 active:bg-purple-600 transition-colors duration-200"
              >{{movie.menu}}</a
            >
            }
          </div>
          }
        </li>
        <li class="h-full inline-block relative">
          <button
            (click)="openMenuDropdown('tv-shows')"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900 cursor-pointer"
          >
            TV Shows
          </button>
          @if(isTvShowClicked()) {
          <div
            class="absolute top-full left-0 mt-1 min-w-24 text-black rounded shadow-lg z-50 -translate-y-4 text-xs overflow-hidden bg-violet-400"
          >
            @for(show of selectedMenuDropdown(); track show.menu) {
            <a
              [href]="show.link"
              class="block py-1 px-3 hover:bg-violet-500 active:bg-purple-600 transition-colors duration-200"
              >{{show.menu}}</a
            >
            }
          </div>
          }
        </li>
      </ul>
    </div>

    <div class="flex items-center gap-2">
      <div
        #filterContainer
        class="text-[0.65rem] text-gray-300 relative mx-2 w-[6rem]"
      >
        <button
          class="h-7 w-full rounded-md text-left px-2 flex items-center cursor-pointer justify-between bg-slate-700"
          (click)="toggleFilterDropdown()"
        >
          <span> {{selectedFilter()}} </span>
          <i
            class="fa-solid fa-chevron-down transition-transform duration-200"
            [class.rotate-180]="filterDropdown()"
          ></i>
        </button>

        <div
          class="absolute top-full left-0 my-1 transition-all duration-200 rounded-md overflow-hidden"
          [class.opacity-0]="!filterDropdown()"
          [class.opactiy-100]="filterDropdown()"
          [class.pointer-events-none]="!filterDropdown()"
          [class.scale-y-80]="!filterDropdown()"
          [class.scale-y-100]="filterDropdown()"
        >
          @for(f of MEDIA_FILTER_MENU; track $index) {
          <button
            class="w-full h-7 bg-red-300 text-left px-2 cursor-pointer bg-slate-700"
            (click)="updateFilter(f)"
          >
            {{f}}
          </button>
          }
        </div>
      </div>
      <div
        #searchContainer
        class="relative hidden sm:flex flex-1 min-w-0 lg:w-64"
      >
        <i
          class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2"
        ></i>
        <input
          [formControl]="searchText"
          class="text-[0.75rem] w-full bg-slate-700 text-gray-300 pr-4 pl-10 h-8 text-sm rounded-full placeholder:text-gray-300 placeholder:text-xs"
          type="search"
          placeholder="Search for a show or movie"
        />

        @if(suggestions().length > 0 && showSuggestions()) {
        <div
          class="absolute top-full right-0 w-[23rem] mt-2 bg-white text-black rounded-xl shadow-lg z-50 max-h-80 overflow-y-auto"
        >
          @for(item of suggestions(); track $index) {
          <button
            type="button"
            class="bg-gray-100 block w-full text-left px-6 hover:bg-gray-400 text-[0.75rem] cursor-pointer flex items-start gap-3 border-b-1 border-r-1 border-white"
            [ngClass]="item.type === 'query' ? 'py-2' : 'py-4'"
            (click)="showSearchResults(item)"
          >
            @if(item.type === 'result') {
            <img [src]="item.poster_path" class="w-8 object-cover" />

            <div class="text-left">
              <p class="text-xs font-medium">{{ item.label }}</p>
              <p class="text-xs text-gray-700">
                {{ item.year | date:'yyyy' }} • {{ item.media_type }}
              </p>
            </div>
            } @if(item.type === 'query') {
            <span> {{ item.label }}</span>
            }
          </button>
          }
        </div>
        }
      </div>

      <button class="sm:hidden cursor-pointer p-2" (click)="toggleSearchBox()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <div #userMenuContainer class="inline-block relative">
        <button class="cursor-pointer p-2" (click)="toggleUserMenu()">
          <i class="fa-solid fa-user fa-lg"></i>
        </button>
        @if(isUserMenuClicked()) {
        <div
          class="absolute top-full left-0 md:-left-15 mt-1 min-w-24 text-black rounded shadow-lg z-50 bg-violet-400 text-xs overflow-hidden"
        >
          @for(user of USER_MENU; track user.menu) {
          <a
            [routerLink]="user.link"
            class="block px-3 py-1 hover:bg-violet-500 active:bg-purple-600 transition-colors duration-200"
            (click)="toggleUserMenu()"
            >{{user.menu}}</a
          >
          }
        </div>
        }
      </div>
    </div>
  </div>
  }
</nav>
