<nav class="bg-[#15042b] text-white h-16 fixed top-0 left-0 right-0 z-70">
  @if(isFullScreenSearchVisible()) {
  <div
    class="sm:hidden relative flex flex-1 max-w-sm items-center gap-4 my-4 mx-auto"
  >
    <input
      type="search"
      placeholder="Search for a show or movie"
      class="w-full bg-white text-black rounded-full h-8 placeholder:text-sm placeholder:text-gray-500 placeholder:pl-4"
    />
    <button (click)="toggleSearchBox()">
      <i class="fa-solid fa-x absolute right-4 -translate-1/2 text-black"></i>
    </button>
  </div>
  } @else {
  <div
    class="max-w-7xl mx-auto h-full px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 flex items-center justify-between"
  >
    <a class="text-2xl font-bold" href="#">Media Track</a>

    <div class="hidden md:block h-full">
      <ul #menuContainer class="flex items-center gap-6 h-full">
        <li class="h-full">
          <a
            href="#"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900"
            >Home</a
          >
        </li>
        <li class="h-full inline-block relative">
          <button
            (click)="openMenuDropdown('movies')"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900 cursor-pointer"
          >
            Movies
          </button>
          @if(isMovieClicked()) {
          <div
            class="absolute top-full left-0 mt-1 min-w-24 text-black rounded shadow-lg z-50 py-2 px-2 -translate-y-4 bg-white text-sm"
          >
            @for(movie of selectedMenuDropdown(); track movie.menu) {
            <a [href]="movie.link" class="block py-1">{{movie.menu}}</a>
            }
          </div>
          }
        </li>
        <li class="h-full inline-block relative">
          <button
            (click)="openMenuDropdown('tv-shows')"
            class="h-full inline-flex items-center px-4 hover:bg-purple-900 cursor-pointer"
          >
            TV Shows
          </button>
          @if(isTvShowClicked()) {
          <div
            class="absolute top-full left-0 mt-1 min-w-24 text-black rounded shadow-lg z-50 py-2 px-2 -translate-y-4 bg-white text-sm"
          >
            @for(show of selectedMenuDropdown(); track show.menu) {
            <a [href]="show.link" class="block py-1">{{show.menu}}</a>
            }
          </div>
          }
        </li>
      </ul>
    </div>

    <div class="flex items-center gap-2">
      <div class="relative hidden sm:flex flex-1 min-w-0 lg:w-64">
        <i
          class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-black"
        ></i>
        <input
          class="w-full bg-white text-black pr-4 pl-10 h-8 text-sm rounded-full placeholder:text-gray-500 placeholder:text-sm"
          type="search"
          placeholder="Search for a show or movie"
        />
      </div>

      <button class="sm:hidden cursor-pointer p-2" (click)="toggleSearchBox()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <div #userMenuContainer class="inline-block relative">
        <button class="cursor-pointer p-2" (click)="toggleUserMenu()">
          <i class="fa-solid fa-user fa-lg"></i>
        </button>
        @if(isUserMenuClicked()) {
        <div
          class="absolute top-full left-0 md:-left-10 mt-1 min-w-24 text-black rounded shadow-lg z-50 py-2 px-2 bg-white text-sm"
        >
          @for(user of USER_MENU; track user.menu) {
          <a [href]="user.link" class="block py-1">{{user.menu}}</a>
          }
        </div>
        }
      </div>

      <button class="md:hidden cursor-pointer p-2" (click)="displayOptions()">
        <i class="fa-solid fa-bars"></i>
      </button>
    </div>
  </div>
  }
</nav>
