<div
  class="mx-4 mt-4 w-40 rounded-xl overflow-hidden bg-zinc-800 shadow-lg hover:scale-105 transition"
>
  <div (click)="openDetails()" class="cursor-pointer">
    <img
      [src]="item()?.poster_path || item()?.backdrop_path"
      class="w-full aspect-[2/3] object-cover"
    />
  </div>

  <div class="p-3 bg-violet-900 text-white">
    <a
      [routerLink]="['/', item()?.media_type, item()?.id]"
      class="block truncate hover:underline hover:text-pink-300 text-xs font-medium"
      rel="noopener noreferrer"
    >
      {{ item()?.title || item()?.name }}
    </a>

    <div class="text-[0.65rem] text-gray-400 mt-1">
      {{ item()?.release_date || item()?.first_air_date | date:'longDate' }}
    </div>
  </div>
</div>
