<div class="relative">
  <div
    class="rounded-md bg-white mx-4 mt-4 w-40 aspect-[2/3] overflow-hidden"
    (click)="openDetails()"
  >
    <img
      [src]="item()?.poster_path"
      class="block w-full h-full object-cover cursor-pointer rounded-md"
    />
  </div>
  <div class="ml-5 mt-2 w-40">
    <a
      [routerLink]="['/', item()?.media_type, item()?.id]"
      class="block truncate hover:underline hover:text-pink-300 text-xs"
      rel="noopener noreferrer"
    >
      {{ item()?.title || item()?.name }}
    </a>
    <div class="text-[0.65rem] mt-1">
      {{item()?.release_date || item()?.first_air_date |date: 'longDate'}}
    </div>
  </div>
</div>
