<div class="w-full h-38 bg-violet-600 rounded-lg text-white p-3">
  <div class="flex items-start">
    <img [src]="item()?.poster" class="h-30 w-20 rounded-lg" />
    <div class="px-5 py-2 flex flex-col gap-1">
      <a
        class="text-sm font-bold hover:underline hover:text-blue-300"
        [routerLink]="['/',item()?.mediaType,item()?.id]"
      >
        <span> {{item()?.name}} </span>
      </a>

      <p class="flex items-center gap-2 text-xs text-gray-200">
        <span>{{ item()?.year | date: 'yyyy' }}-{{ currentYear }}</span>
        <span>•</span>
        <span>{{ item()?.original_lang | uppercase }}</span>
        <span>•</span>
        <span>{{ mediatype }}</span>
        <span>•</span>
        <span>
          <button
            class="cursor-pointer py-2 px-2 hover:bg-violet-400 hover:rounded-full"
            (click)="toggleWatched()"
          >
            <i
              class="fa-eye"
              [ngClass]="markAsWatched() ? 'fa-solid' : 'fa-regular'"
            ></i>
            <span class="text-xs">
              {{ markAsWatched() ? 'Watched' : 'Mark as watched' }}
            </span>
          </button>
        </span>
      </p>
      <p class="mt-2">{{item()?.overview}}</p>
    </div>
  </div>
</div>
