<div
  class="rounded-xl overflow-hidden bg-[#2a0f4d] h-60 flex flex-col transition-all duration-300 ease-out hover:scale-105 hover:-translate-y-1 hover:shadow-2xl cursor-pointer"
>
  <img
    [src]="castProfilePath()"
    class="w-full h-40 object-cover flex-shrink-0"
  />

  <div class="p-2 text-white text-sm flex flex-col flex-grow">
    <div class="font-semibold text-[0.75rem] mb-1 line-clamp-2">
      <a class="hover:underline hover:text-fuchsia-400"> {{ castName() }} </a>
    </div>
    <div class="opacity-70 text-[0.65rem]">{{ castRole() }}</div>
  </div>
</div>
